
<div class="div " style="background-color: #D3CC21;">
<mat-card class="image-card " >
  <img mat-card-image *ngIf="profilePictureUrl" [src]="profilePictureUrl" alt="Profile Picture" class="profile-image ">
  <div class="username-overlay">
    <h1 class="display-5 " style=" font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: normal;"> &nbsp;&nbsp;{{username}}, {{age}} &nbsp; </h1>
  
  </div>
 </mat-card>
</div>

<div class="p-5 " style="background-color: #D3CC21;">

  <div class="row  text-center justify-content-center">

    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center ">


      <mat-card class="example-card ">

        <mat-card-header>
          
        <div class="div" *ngIf="showForm"><div matBadge="+" matBadgePosition="before" matBadgeSize="large"  class="demo-section" *ngIf="showForm"
          (click)="profSelectRef.click()" class="grab" matTooltip="click to select files">
          <img mat-card-image *ngIf="profilePictureUrl" [src]="profilePictureUrl" alt="Profile Picture" class="profile-image" ></div>
        </div>
          <div class=" d-flex flex-column align-items-center justify-content-center" *ngIf="!showForm">

            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              (click)="toggleEdit()" id="lg" *ngIf="!showForm">
              <mat-icon>edit</mat-icon>
            </span>
          </div>
          <div class=" d-flex flex-column align-items-center justify-content-center" *ngIf="showForm">

            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              (click)="toggleEdit()" id="lg" *ngIf="showForm">
              <mat-icon>keyboard_backspace</mat-icon>
            </span>
          </div>

          <mat-card-subtitle style="font-size: 12px;" hidden>
            <input type="file" #profSelectRef id="profSelectRef " (change)="profilePic($event)"
              accept=".png, .jpg, .jpeg">
          </mat-card-subtitle>





          

        </mat-card-header>

        <mat-divider></mat-divider>
        <mat-card-title style="font-size:22px;">{{ username }}</mat-card-title>
        <mat-list *ngIf="!showForm">
          <div class="row d-flex flex-column align-items-center justify-content-center">
            <div class="col-md-4">
              <span matListItemTitle>Gender</span>
              <span matListItemLine><mat-icon>{{sex}}</mat-icon></span>
            </div>
            <div class="col-md-4 ">
              <span matListItemTitle>Age</span>
              <span matListItemLine>{{age}}</span>
            </div>
            <div class="col-md-4">
              <span matListItemTitle>Breed</span>
              <span matListItemLine>{{pet}} : {{breed}}</span>
            </div>
          </div>

        </mat-list>

        <mat-divider></mat-divider>
        <mat-card-content *ngIf="!showForm" class="mt-2 mb-2">

          <h6>About {{username}}:</h6>
          <p>{{ bio }}</p>
        </mat-card-content>
        <!--  -->
        <mat-divider></mat-divider>

        <mat-card-content class="mt-2 mb-2">
          <h6>Interests:</h6>
          <button mat-raised-button>Comming Soon</button>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content *ngIf="!showForm" class="mt-2 mb-2">
          <h6>Contact Information:</h6>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Owner Name</span>
              <span matListItemLine>{{name}}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Email</span>
              <span>{{email}}</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <!--  -->
        <mat-card-content *ngIf="showForm" class="mt-2">
          <form [formGroup]="form">
            <mat-form-field appearance="outline">
              <mat-label>Bio</mat-label>
              <textarea matInput formControlName="bio"></textarea>
            </mat-form-field>
          </form>
          <mat-divider></mat-divider>
          <br>
          <button (click)="updateBio(form.value.bio)" mat-raised-button
            style="font-size: 14px;"><mat-icon>save</mat-icon>Save </button>
          <br>

          <button mat-raised-button (click)="toggleEdit()" id="lg">
            <mat-icon>keyboard_backspace</mat-icon>Back
          </button>
        </mat-card-content>

      </mat-card>
    </div>

    <!--  -->
    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center ">
      <mat-card class="example-card ">
        <!-- images -->
        <img mat-card-image *ngIf="pictureUrl" [src]="pictureUrl" alt="Uploaded" class="" style="height: 400px; width: auto;">
        <br>
        <div class="center-button">
          <button mat-fab (click)="fileSelectRef.click()" class="grab" matTooltip="click to select files" *ngIf="showForm">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <input type="file" #fileSelectRef id="filesSelectRef" (change)="uploadImage($event)" accept=".png, .jpg, .jpeg"
          hidden>
    
        <!-- end here -->
        <mat-divider></mat-divider>
        <!--  -->
        <img mat-card-image *ngIf="pictureUrl1" [src]="pictureUrl1" alt="Uploaded" class="card-img-top" style="height: 400px; width: auto;">
        <br>
        <div class="center-button">
    
          <button mat-fab (click)="fileSelectRef2.click()" class="grab" matTooltip="click to select files" *ngIf="showForm">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <input type="file" #fileSelectRef2 id="filesSelectRef2" (change)="uploadImage1($event)" accept=".png, .jpg, .jpeg"
          hidden>
        <mat-divider></mat-divider>
    
        <!--  -->
        <img mat-card-image *ngIf="pictureUrl2" [src]="pictureUrl2" alt="Uploaded" class="card-img-top" style="height: 400px; width: auto;">
        <br>
        <div class="center-button">
    
          <button mat-fab (click)="fileSelectRef3.click()" class="grab" matTooltip="click to select files" *ngIf="showForm">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <input type="file" #fileSelectRef3 id="filesSelectRef3" (change)="uploadImage2($event)" accept=".png, .jpg, .jpeg"
          hidden>
    
    
        <mat-divider></mat-divider>
        <!--  -->
        <img mat-card-image *ngIf="pictureUrl3" [src]="pictureUrl3" alt="Uploaded" class="card-img-top" style="height: 400px; width: auto;">
        <br>
        <div class="center-button">
    
          <button mat-fab (click)="fileSelectRef4.click()" class="grab" matTooltip="click to select files" *ngIf="showForm">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <input type="file" #fileSelectRef4 id="filesSelectRef4" (change)="uploadImage3($event)" accept=".png, .jpg, .jpeg"
          hidden>
    
      </mat-card>
    </div>
    </div>
    </div>


    <footer class="footer">
      <div class="container">
        <div class="row justify-content-center"> <!-- Center the columns -->
          <div class="col text-center"> <!-- Center the content horizontally -->
            <a class="nav-link active" aria-current="page" routerLink="/swipe">
              <button mat-icon-button class="custom-icon-card">
                <!-- Your icon or image goes here -->
              </button>
            </a>
          </div>
          <div class="col text-center"> <!-- Center the content horizontally -->
            <button mat-icon-button class="custom-icon-heart">
              <!-- Your icon or image goes here -->
            </button>
          </div>
          <div class="col text-center"> <!-- Center the content horizontally -->
            <button mat-icon-button class="custom-icon-msg">
              <!-- Your icon or image goes here -->
            </button>
          </div>
          <div class="col text-center"> <!-- Center the content horizontally -->
            <a class="nav-link active" aria-current="page" routerLink="/profile">

            <button mat-icon-button class="custom-icon-people" >
              <!-- Your icon or image goes here -->
            </button>
            </a>
          </div>
        </div>
      </div>
      
    </footer>
    