<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">Profile</h1>
    <div class="row">
    <div class="col-md-4 fs-4 d-flex  justify-content-center ">
      <mat-card class="example-card">
        <mat-card-header class="mb-4  ">
           <div class="div text-start" id="heading">
          <mat-card-title >Shiba Inu</mat-card-title>
          <mat-card-subtitle >Dog Breed</mat-card-subtitle>
        </div>
          <img mat-card-md-image [src]="proimage"   alt="Image of a Shiba Inu">
        </mat-card-header>
        <mat-divider class="mb-4"></mat-divider>
        <mat-card-content class="mb-4 mr-4">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Bio</mat-label>
              <input matInput #message maxlength="256" placeholder="Bio">
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions >
        <button mat-button>  <mat-icon>create</mat-icon></button>

          
          <button mat-button >save</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-8  fs-4">

   
<div>
  <h2>Profile</h2>
  <input type="file" (change)="onFileSelected($event)">
  <button (click)="uploadImage()">Upload Image</button>
  <img *ngIf="imageURL" [src]="imageURL" alt="Profile Picture">
</div>




      </div>
</div>


  
  </div>
</div>
