<div class="p-5 mb-4 bg-light rounded-3" style="  background-image: url('../../assets/login/bg.png') ;
background-size: cover;
background-repeat: no-repeat,">
  <div class="row container-fluid py-5">
    <!-- Profile Section -->
    <div class="col-md-6">
      <h1 class="display-5 fw-bold">Profile</h1>
      <div class="col-md-12 fs-4">
        <mat-card class="example-card "> 
          <div class="row justify-content-center ">
            <div class="col-md-12 text-center fs-4">
              <img mat-card-image *ngIf="profilePictureUrl" [src]="profilePictureUrl" alt="Profile Picture"
                style="width: 250px; height: 250px;" class="bg-black">
            </div>
          </div>
          <mat-divider></mat-divider>
            <mat-card-content class="mt-5">
           
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput value="{{name}}" #message disabled>
                     
              </mat-form-field>
            </mat-card-content>
            <!--  -->
            <mat-card-content *ngIf="!showForm">
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput value="{{username}}" #message disabled>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Pet</mat-label>
                  <input matInput value="{{pet}}" #message disabled>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Bio</mat-label>
                    <input matInput value="{{bio}}" #message disabled>
                    </mat-form-field>
                </mat-card-content>
<!--  -->
            <mat-card-content *ngIf="showForm">
              
              <form [formGroup]="form">
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
               
                        
                  <textarea matInput formControlName="username" ></textarea>
                
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Pet</mat-label>
                  <input matInput value="{{pet}}" #message disabled>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Bio</mat-label>
                   
                    
                        
                        <textarea matInput formControlName="bio" ></textarea>
                     
                    </mat-form-field>
                    </form>
                    <mat-card-subtitle style="font-size: 12px;"> <label for="file"><i class="fas fa-search"></i> New Profile Picture &nbsp;</label>
                      <input type="file" (change)="profilePic($event)" accept=".png, .jpg, .jpeg">
                      </mat-card-subtitle>
                   <br>
                    <button (click)="updateBio(form.value.username,form.value.bio)" mat-raised-button  style="font-size: 14px;"><mat-icon>save</mat-icon>Save </button>
                    <br>
                    
                      <button mat-raised-button (click)="toggleEdit()" id="lg">
                        <mat-icon>keyboard_backspace</mat-icon>Back
                      </button>
                </mat-card-content>
                <mat-divider class="mt-3"></mat-divider>
          <mat-card-content class="mt-5">
            <button mat-button (click)="toggleEdit()" id="lg">
              <mat-icon>edit</mat-icon>Edit Profile
            </button>
            <button mat-button (click)="logout()" id="lg">
              <mat-icon>logout</mat-icon>Logout
            </button>
          </mat-card-content>
          
        </mat-card>
      </div>
   
    </div>

    <!-- Pictures Section -->
    <div class="col-md-6  ">
      <div class="jumbotron mt-5 ">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="card bg-warning mb-3" style="max-width: 10rem;">
                <mat-card class="img-card ">

                  <img mat-card-image *ngIf="pictureUrl" [src]="pictureUrl" alt="Uploaded" class=""
                    style="height: 200px ;width:200px ;">
                  <br>
                 
        <button mat-fab (click)="fileSelectRef.click()" class="grab" matTooltip="click to select files">
                  <mat-icon>add</mat-icon>
        </button>
        <input type="file" #fileSelectRef id="filesSelectRef"  (change)="uploadImage($event)" accept=".png, .jpg, .jpeg" hidden>
        <!--  -->
                </mat-card>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card bg-warning mb-3" style="max-width: 10rem;">
                <mat-card class="img-card ">
                  <img mat-card-image *ngIf="pictureUrl1" [src]="pictureUrl1" alt="Uploaded" class="card-img-top"
                  style="height: 200px ;width:200px ;">
                  <br>

                    <button mat-fab (click)="fileSelectRef2.click()" class="grab" matTooltip="click to select files">
                      <mat-icon>add</mat-icon>
            </button>
                  <input type="file" #fileSelectRef2 id="filesSelectRef2" (change)="uploadImage1($event)" accept=".png, .jpg, .jpeg" hidden>

                </mat-card>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card bg-warning mb-3" style="max-width: 10rem;">  <mat-card class="img-card ">
                  <img mat-card-image *ngIf="pictureUrl2" [src]="pictureUrl2" alt="Uploaded" class="card-img-top"
                  style="height: 200px ;width:200px ;">
                  <br>
                    <button mat-fab (click)="fileSelectRef3.click()" class="grab" matTooltip="click to select files">
                      <mat-icon>add</mat-icon>
            </button>
                  <input type="file" #fileSelectRef3 id="filesSelectRef3" (change)="uploadImage2($event)" accept=".png, .jpg, .jpeg" hidden>

                </mat-card>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card bg-warning mb-3" style="max-width: 10rem;">  <mat-card class="img-card ">
                  <img mat-card-image *ngIf="pictureUrl3" [src]="pictureUrl3" alt="Uploaded" class="card-img-top"
                  style="height: 200px ;width:200px ;">
                  <br>
                    <button mat-fab (click)="fileSelectRef4.click()" class="grab" matTooltip="click to select files">
                      <mat-icon>add</mat-icon>
            </button>
                  <input type="file" #fileSelectRef4 id="filesSelectRef4" (change)="uploadImage3($event)" accept=".png, .jpg, .jpeg" hidden>

                </mat-card>
              </div>
            </div>
            <!-- Add more columns for additional images -->
          </div>
        </div>
      </div>
    </div>

  </div>
  
</div>