.example-card {
 width:300px ;
 margin-bottom: 8px;
 margin-right: 3px;
 font-size: 14px;
}
.img-card{
 width: 100px;
}
mat-form-field{
 width: 150px;
}
#heading{
 margin-right: 10px;
}

#lg{
 font-size: 14px;
}
.example-form {
 min-width: 150px;
 max-width: 300px;
 width: 100%;
}
.mat-form-field {
 margin-right: 12px;
 width: 10px;
 font-size: 14px;
}

.grab{
 font-size: 14px;
}
.custom-input {
 font-size: 14px;
 height: 200px; /* Adjust the height as per your requirement */
}
.mat-list-item {
 margin-bottom: 5px; /* Adjust this value to decrease the space */
}