<body style="background-color: #D9D9D9 ;">
  
  <div class="row justify-content-center" style="background-color: #D9D9D9 ;">
    <div class="col-md-10" id="card--">
      <div class=" mt-1">
        <div class="row justify-content-center">
          <div class="col-md-4  text-center ">
            <img src="../../../assets/login/forget1.png" class="" alt="Login Image" id="dog">
          </div>
         
  
          <div class="col-md-3">
            <div class="container-fluid d-flex justify-content-center align-items-center" >
  
              <div class="container">
                <h2>Forgot Password</h2>
                <form (ngSubmit)="forget()">
                  <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" [formControl]="emailFormControl" formControlName="email" placeholder="Enter your email">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is required
                    </mat-error>
                  </mat-form-field>
                  <button class="button-88" color="primary" type="submit">Send Password Reset Email</button>
                </form>
              </div>

            
  
            </div>
          </div>
  
        </div>
      </div>
    </div>

  </div>
    </body>
