<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <div class="container" style="background-color: #A89278; overflow-x: auto; position: sticky; top: 0; z-index: 100;">
      <div class="example-header-images mb-1 mt-1">
        <img class="profile-picture" [src]="selectedUserProfile.profilePictureUrl" alt=""> 
        {{selectedUserProfile.username}}
      </div>
    </div>
    
    
    <div class="chat-messages">
      <ng-container *ngFor="let message of chatMessages">
        <mat-card class="example-card " [ngClass]="{'align-right': message.senderName === username, 'align-left': message.senderName !== username}">
          <mat-card-header>
           
            <mat-card-title>{{ message.content }}</mat-card-title><img [src]="message.profilepic" alt="" class="profile-picture1" >
            
          </mat-card-header>
        </mat-card>
      </ng-container>
    </div>
    <div class="fixed-chat-input-box">
      <div class="chat-input-container">
        <textarea placeholder="Type your message..." class="chat-input" [(ngModel)]="newMessage"></textarea>
        <button class="send-button" (click)="sendMessage()">Send</button>
      </div>
    </div>
    

    <!-- Fixed input box at the bottom -->
    <!-- <div class="fixed-input-box">
      <div class="input-box">
        <div class="chat-input-container">
          <input type="text" placeholder="Type... 😊" class="chat-input" [(ngModel)]="newMessage">
          <button class="send-button" (click)="sendMessage()"> <mat-icon>send</mat-icon></button>
        </div>
      </div>
    </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>


