
<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <div class="chat-messages">
      <div class="message" *ngFor="let message of chatMessages">
        <div class="sender">{{ message.sender }}</div>
        <div class="content">{{ message.content }}</div>
      </div>
      <!-- <div class="message" *ngFor="let message of chatMessages1">
        <div class="sender">{{ message.sender }}</div>
        <div class="content">{{ message.content }}</div>
       
      </div> -->
    </div>
    <div class="input-box">
      <mat-form-field appearance="fill">
        <mat-label>Type a message</mat-label>
        <textarea matInput [(ngModel)]="newMessage"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<footer class="footer"  style="z-index: 3;">
 <div class="container">
   <div class="row justify-content-center"> <!-- Center the columns -->
     <div class="col text-center"> <!-- Center the content horizontally -->
       <a class="nav-link active" aria-current="page" routerLink="/swipe">
         <button mat-icon-button class="custom-icon-card">
           <!-- Your icon or image goes here -->
         </button>
       </a>
     </div>
     <div class="col text-center"> <!-- Center the content horizontally -->
      <a class="nav-link active" aria-current="page" routerLink="/like">

       <button mat-icon-button class="custom-icon-heart">
         <!-- Your icon or image goes here -->
       </button></a>
     </div>
     <div class="col text-center"> <!-- Center the content horizontally -->

       <button mat-icon-button class="custom-icon-msg">
         <!-- Your icon or image goes here -->
       </button>
     </div>
     <div class="col text-center"> 
       <a class="nav-link active" aria-current="page" routerLink="/profile">
       <button mat-icon-button class="custom-icon-people" > </button>
       </a>
     </div>
   </div>
 </div>
 
</footer>