


.profile-picture {
 width: 50px; /* Adjust width as needed */
 height: 50px; /* Adjust height as needed */
 margin-right: 10px; /* Adjust margin between images */
 border-radius: 50%; /* Make the images circular */

}


.profile-card {
 display: flex;
 align-items: center; /* Align items vertically in the flex container */
 padding: 10px; /* Add padding for better spacing */
}

/* Profile picture styling */
.profile-picture1 {
 width: 25px;
 height: 25px;

 border-radius: 50%;
 margin-right: 10px; /* Add margin between profile picture and name */
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add drop shadow */
}
.fixed-input-box {
 position: fixed;
 left: 0px;
 bottom: 20px;
 width: 100vw;
 padding: 10px;
 background-color: rgba(255, 255, 255, 0); /* Optional: Add background color */
}

.chat-input-container {
 display: flex;
 align-items: center;
 
 background-color: #f9f9f900;
 padding: 10px;
}

.chat-input {
 flex: 1;
 padding: 8px;
 border: 1px solid #ccc;
 border-radius: 5px;
}

.send-button {
 background-color: #007bff;
 color: white;
 border: none;
 padding: 8px 15px;
 margin-left: 10px;
 border-radius: 5px;
 cursor: pointer;
}

.send-button:hover {
 background-color: #0056b3;
}

.chat-messages{
 display: flex;
  flex-direction: column;
}
.align-right {
 align-self: flex-end;
 text-align: end;
 background-color: #86848444;
 
}

.align-left {
 align-self: flex-start;
 text-align: start;
 background-color: #86848444;
 

}