


.profile-picture {
 width: 50px; /* Adjust width as needed */
 height: 50px; /* Adjust height as needed */
 margin-right: 10px; /* Adjust margin between images */
 border-radius: 50%; /* Make the images circular */
 object-fit: cover;
}


.profile-card {
 display: flex;
 align-items: center; /* Align items vertically in the flex container */
 padding: 10px; /* Add padding for better spacing */
}

/* Profile picture styling */
.profile-picture1 {
 width: 20px;
 height: 20px;
 object-fit: cover;
 border-radius: 50%;
 margin-right: 10px; /* Add margin between profile picture and name */
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add drop shadow */
}
.fixed-input-box {
 position: fixed;
 left: 0px;
 bottom: 20px;
 width: 100vw;
 padding: 10px;
 background-color: rgba(255, 255, 255, 0); /* Optional: Add background color */
}

.chat-input-container {
 display: flex;
 align-items: center;
 
 background-color: #f9f9f900;
 padding: 10px;
}

.chat-input {
 flex: 1;
 padding: 8px;
 border: 1px solid #ccc;
 border-radius: 5px;
}

.send-button {
 background-color: #007bff;
 color: white;
 border: none;
 padding: 8px 15px;
 margin-left: 10px;
 border-radius: 5px;
 cursor: pointer;
}

.send-button:hover {
 background-color: #0056b3;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align chat bubbles to the left */
}

.example-card {
  max-width: 70%; /* Limit the width of chat bubbles */
  margin: 8px; /* Add some margin between chat bubbles */
  border-radius: 10px; /* Round the corners of chat bubbles */
  padding: 12px; /* Add padding inside chat bubbles */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.align-right {
  align-self: flex-end;
  background-color: #daf5d2; /* Blue background for sender's messages */
  color: rgb(0, 0, 0); /* White text color for sender's messages */
}
.align-right .profile-picture1 {
  position: absolute; /* Position the profile picture absolutely */
  left: 3px;
  top: 16px;

  transform: translateY(-50%); /* Adjust for vertical centering */
}

.align-left {
  align-self: flex-start;
  background-color: #f0f0f0; /* Light gray background for recipient's messages */
  color: #333; /* Dark text color for recipient's messages */
}
.align-left .profile-picture1 {
  position: absolute; 
  left: 3px;
  top: 16px;

  transform: translateY(-50%); /* Adjust for vertical centering */
}
/* Additional styling for subtitle and title */
.mat-card-subtitle, .mat-card-title {
  margin: 0;
}

