*{
    margin: 0;
   padding: 0;
   }
   #main{
    height:100vh;
   
    background-image: url("../../assets/login/bg.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    
   }
.container{
 position: absolute;
    top: 10%;
    left: 10%;
}


#dog{

transition: transform 0.3s ease-in-out;

}
#dog:hover{
 transform: scale(1.1);

}

.card-body{

 position:relative;
 top: 10%;
 left: 0; 
}
#login-button{
 /* position:absolute;
 top:13vh;
 left: 8vw; */
 transition: transform 0.3s ease-in-out;

}
#login-button:hover{
 transform: scale(1.1);
}
@media (max-width: 769px){

#sign{
 transform: scale(.5);
 top: -131vh;
 left: -26vw;
}


}