
<body>
  
<div *ngIf="isLoading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
  <img src="assets/About Us/Frame 4.png" alt="Loading Screen" class="loading-image"></div>
</div></div>
</div>
<div *ngIf="!isLoading">
  <!-- Your About Us content goes here -->
  <div class="container">
  <carousel>
 
    <slide>
      <img src="assets/About Us/Frame 5.png" alt="first slide" class="slide"style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/About Us/Frame 6.png" alt="second slide"class="slide"style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/About Us/Frame 7png.png" alt="third slide"class="slide"style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>
</div></body>