
<div class="profile-container" style="background-color: #E49500;">
  <div class="profile-card" *ngIf="allUserProfiles.length > 0" [style.zIndex]="allUserProfiles.length"
       (touchstart)="onSwipe($event)" (touchmove)="onSwipe($event)">

    <div class="div" style="background-color: #E49500;">
      <mat-card class="image-card">
        <img mat-card-image *ngIf="currentProfile?.profilePictureUrl" [src]="currentProfile?.profilePictureUrl" alt="Profile Picture"
          class="profile-image">
        <div class="username-overlay">
          <h1 class="display-5 " style=" font-family: 'Roboto', sans-serif;
   font-weight: 600;
   font-style: normal;"> &nbsp; &nbsp; {{currentProfile?.username}}, {{currentProfile?.age}} &nbsp; </h1>
          <div class="row justify-content-center">
            <div class="col d-flex justify-content-center ">

              <button mat-icon-button class="custom-icon-x"  id="x-button" (click)="swipeLeft()">
                <img src="../../assets/icons/x.png" alt="Image Alt Text" style="width: 50px; height: 50px ;">
              </button>
            </div>

            <div class="col d-flex justify-content-center">
              <button mat-icon-button class="custom-icon-love" id="love-button" (click)="swipeRight()">
                <img src="../../assets/icons/love.png" alt="Image Alt Text" class="large-icon"
                  style="width: 50px; height: 50px ;">
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="p-5 " style="background-color: #E49500;">

      <div class="row  text-center ">

        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center ">


          <mat-card class="example-card ">


            <mat-divider></mat-divider>
            <mat-card-title style="font-size:22px;">{{ currentProfile?.username }}</mat-card-title>
            <mat-list *ngIf="!showForm">
              <div class="row ">
                <div class="col">

                  <span matListItemLine><button mat-raised-button
                      style="background-color: #DCFC14;border-radius: 20px;">
                      <mat-icon>{{currentProfile?.sex}}</mat-icon>
                    </button>
                  </span>
                </div>
                <div class="col">
                  <span matListItemLine><button mat-raised-button
                      style="background-color: #DCFC14;border-radius: 20px;">Age : {{currentProfile?.age}}</button></span>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col ">
                  <span matListItemLine><button mat-raised-button
                      style="background-color: #DCFC14; z-index: 0; border-radius: 20px;">{{currentProfile?.pet}} :
                      {{currentProfile?.breed}}</button></span>
                </div>
              </div>

            </mat-list>

            <mat-divider></mat-divider>
            <mat-card-content *ngIf="!showForm" class="mt-2 mb-2">

              <h6>About {{currentProfile?.username}}:</h6>
              <p>{{ currentProfile?.bio }}</p>
            </mat-card-content>
            <!--  -->

            <mat-divider></mat-divider>



          </mat-card>
        </div>

        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center ">
          <mat-card class="example-card " style="background-color: #E49500;">
            <!-- images -->
            <img mat-card-image *ngIf="currentProfile?.pictureUrl" [src]="currentProfile?.pictureUrl" alt="Uploaded" class=""
              style="height: 400px; width: auto;">
            <br>
            <mat-divider></mat-divider>
            <!--  -->
            <img mat-card-image *ngIf="currentProfile?.pictureUrl1" [src]="currentProfile?.pictureUrl1" alt="Uploaded" class="card-img-top"
              style="height: 400px; width: auto;">
            <br>
            <mat-divider></mat-divider>
            <!--  -->
            <img mat-card-image *ngIf="currentProfile?.pictureUrl2" [src]="currentProfile?.pictureUrl2" alt="Uploaded" class="card-img-top"
              style="height: 400px; width: auto;">
            <br>
            <mat-divider></mat-divider>
            <!--  -->
            <img mat-card-image *ngIf="currentProfile?.pictureUrl3" [src]="currentProfile?.pictureUrl3" alt="Uploaded" class="card-img-top"
              style="height: 400px; width: auto;">
            <br>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
 
</div>



<footer class="footer" style="z-index: 3;">
  <div class="container">
    <div class="row justify-content-center"> <!-- Center the columns -->
      <div class="col text-center"> <!-- Center the content horizontally -->
        <a class="nav-link active" aria-current="page" routerLink="/swipe">
          <button mat-icon-button class="custom-icon-card">
            <!-- Your icon or image goes here -->
          </button>
        </a>
      </div>
      <div class="col text-center"> <!-- Center the content horizontally -->
        <a class="nav-link active" aria-current="page" routerLink="/like">

        <button mat-icon-button class="custom-icon-heart">
          <!-- Your icon or image goes here -->
        </button></a>
      </div>
      <div class="col text-center"> <!-- Center the content horizontally -->
        <a class="nav-link active" aria-current="page" routerLink="/chat">

        <button mat-icon-button class="custom-icon-msg">
          <!-- Your icon or image goes here -->
        </button>
        </a></div>
      <div class="col text-center"> <!-- Center the content horizontally -->
        <a class="nav-link active" aria-current="page" routerLink="/profile">

          <button mat-icon-button class="custom-icon-people">
            <!-- Your icon or image goes here -->
          </button>
        </a>
      </div>
    </div>
  </div>

</footer>
 