
   <nav class="navbar navbar-expand-sm " >
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="assets/home/Untitjjled 1.png" alt="Website Logo">
       <span  style="font-family: 'Secular One', sans-serif;"> {{ title }}</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page"  routerLink="/home"><button mat-button>
            <mat-icon>instagram</mat-icon>
            
          </button></a>
          <a class="nav-link active" aria-current="page" href=""><button mat-button   >Dating</button></a>
          <a class="nav-link active" aria-current="page" routerLink="/aboutus">
            <button mat-button>About Us</button>
          </a>
          <button class="nav-link"routerLink="/login" class="button-31">Get Started</button>
      
        </div>
      </div>
    </div>
  </nav>


<router-outlet></router-outlet>
  