<div class="container" style="background-color: #A89278; overflow-x: auto;">
 <div class="example-header-images">
   <div *ngFor="let profile of allUserProfiles">
     <img class="profile-picture" [src]="profile.profilePictureUrl" alt="">
   </div>
 </div>
</div>



 <div class="container1 mt-1" id="profile-row" >
   <!-- Loop through each user profile -->
   <ng-container *ngFor="let userProfile of allUserProfiles" >
     <!-- User profile card -->
     <div class="col rounded-pill mb-1" style="background-color: #B9B6B6;      font-family: 'Roboto', sans-serif; font-weight: 400;
     font-style: normal;">
       <div class="profile-card">
         <img [src]="userProfile.profilePictureUrl" alt="" class="profile-picture1">
         <div class="profile-info">
          <p class="profile-name">{{ userProfile.name ? userProfile.name.charAt(0).toUpperCase() + userProfile.name.slice(1) : '' }}</p>

           <div class="status" [ngClass]="{ 'online': userProfile, 'offline': !userProfile}"></div>
         </div>
       </div>
     </div>
   </ng-container>
 </div>







 
 
     <footer class="footer"  style="z-index: 3;">
       <div class="container">
         <div class="row justify-content-center"> <!-- Center the columns -->
           <div class="col text-center"> <!-- Center the content horizontally -->
             <a class="nav-link active" aria-current="page" routerLink="/swipe">
               <button mat-icon-button class="custom-icon-card">
                 <!-- Your icon or image goes here -->
               </button>
             </a>
           </div>
           <div class="col text-center"> <!-- Center the content horizontally -->
             <button mat-icon-button class="custom-icon-heart">
               <!-- Your icon or image goes here -->
             </button>
           </div>
           <div class="col text-center"> <!-- Center the content horizontally -->
             <button mat-icon-button class="custom-icon-msg">
               <!-- Your icon or image goes here -->
             </button>
           </div>
           <div class="col text-center"> <!-- Center the content horizontally -->
             <a class="nav-link active" aria-current="page" routerLink="/profile">
 
             <button mat-icon-button class="custom-icon-people" >
               <!-- Your icon or image goes here -->
             </button>
             </a>
           </div>
         </div>
       </div>
       
     </footer>
     