<body style="background-color: #D9D9D9;">
 
 <div class="container" style="background-color: #A89278; overflow-x: auto;">
  <div class="example-header-images">
    <div *ngFor="let profile of likedUserProfiles">
      <img class="profile-picture" [src]="profile.profilePictureUrl" alt="">
    </div>
  </div>
</div>
<div class="container1 mt-1" id="profile-row">
  <div class="row">
    <div class="col mb-1" style="background-color: #B9B6B6; font-family: 'Roboto', sans-serif; font-weight: 400; font-style: normal;">
      <div class="profile-card" *ngFor="let userProfile of likedUserProfiles" >
        <img [src]="userProfile.profilePictureUrl" alt="" class="profile-picture1">
        <div class="d-flex justify-content-between align-items-center w-100">
          <p class="profile-name">{{ userProfile.username ? userProfile.username.charAt(0).toUpperCase() + userProfile.username.slice(1) : '' }}</p>
          <button mat-button class="chat-button" (click)="openChatScreen(userProfile)">
            <mat-icon>chat</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
     <footer class="footer"  style="z-index: 3;">
       <div class="container">
         <div class="row justify-content-center"> <!-- Center the columns -->
           <div class="col text-center"> <!-- Center the content horizontally -->
             <a class="nav-link active" aria-current="page" routerLink="/swipe">
               <button mat-icon-button class="custom-icon-card">
                 <!-- Your icon or image goes here -->
               </button>
             </a>
           </div>
           <div class="col text-center"> <!-- Center the content horizontally -->
             <button mat-icon-button class="custom-icon-heart">
               <!-- Your icon or image goes here -->
             </button>
           </div>
           <!--  -->
           <div class="col text-center"> <!-- Center the content horizontally -->
             <a class="nav-link active" aria-current="page" routerLink="/profile">
 
             <button mat-icon-button class="custom-icon-people" >
               <!-- Your icon or image goes here -->
             </button>
             </a>
           </div>
         </div>
       </div>
       
     </footer>
     