
*{
  margin: 0;
 padding: 0;
 }
 #main {
  height:120vh;
 
  background-image: url("../../assets/login/bg.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  
 }
 .img-fluid{
transition: transform 0.3s ease-in-out;

 }
 .img-fluid:hover{
  transform: scale(1.005);

  
   }
#img{

transition: transform 0.3s ease-in-out;

}
#img:hover{
 transform: scale(1.1);

}
@media (max-width: 768px) {
 /* body {
  background-image: url('assets/category/BG.png');
   */
   /* Other styles for smaller screens */
 /* } */
 
}