<div class="row justify-content-center" id="main">
   
      <!-- Image half -->
  <div class="col-md-4 mt-5 justify-content-center">
    <a routerLink="/login">
      <img src="assets/category/Group 34.png" class="img-fluid" alt="Image" id="img">
    </a>
  </div>
  <!-- Signup half -->
  <div class="col-md-3">
    <div class="container-fluid d-flex justify-content-center">
     
      <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)"> 
        <h2 class="mt-3 mb-5">Signup</h2>
        <div class="mb-3">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Enter name" formControlName="name" required>
                <mat-error *ngIf="registerForm.get('name')?.invalid">You must enter a name</mat-error>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Enter email" formControlName="email" required>
                <mat-error *ngIf="registerForm.get('email')?.invalid">Enter a valid email address</mat-error>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter password" formControlName="password" required>
                <mat-error *ngIf="registerForm.get('password')?.invalid">Password must be at least 6 characters long</mat-error>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <mat-form-field appearance="fill">
                <mat-label>Pet Name</mat-label>
                <input matInput type="text" placeholder="Enter username" formControlName="username" required>
                <mat-error *ngIf="registerForm.get('username')?.invalid">You must enter a name</mat-error>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <mat-form-field >
                <mat-label>Pet you are looking for</mat-label>
                <mat-select formControlName="pet" required>
                    <mat-option value="dogs">Dogs</mat-option>
                    <mat-option value="cats">Cats</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <button mat-raised-button color="primary" type="submit" >Sign Up</button>
        </div>
    </form>
    </div>
  </div>
</div>






<div class="app-container">
  <router-outlet></router-outlet>
</div>
