<div class="p-5 mb-4 rounded-3">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-1" id="h1">Meet the <br><span style="color: #202020;">Chosen one</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <img src="assets/home/image 5.png" class="img-fluid float-end d-block" id="emoji">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/home/Group 14.png" class="img-fluid" id="hi">
      </div>
      <div class="col-md-6">
        <img src="assets/home/Group 7.png" class="img-fluid" alt="" id="dog">
      </div>
    </div>
    <img src="assets/home/Group 2.png" alt="" class="img-fluid" id="grp2">
    <div class="row" id="dogcont">
      <!-- Content for dogcont -->
    </div>
    <img src="assets/home/cute_animal_doctor_disney-removebg-preview 1.png" class="img-fluid" id="cute">
    <img src="assets/home/Group 4.png" class="img-fluid" alt="" id="grp4">
    <a class="bn39" href="/coming.html" id="doctor"><span class="bn39span">DOCTORS</span></a>
  </div>
</div>
