
<div class="p-5  bg-light rounded-3">
  <div class="container-fluid py-1">
    <h1 class="display-5 fw-bold">Meet the <br><span style="color: #202020;">Chosen one</span></h1>
    <div class="col-md-7 fs-4  mb-4 d-flex align-items-center justify-content-end">
      <div class="col-md-3 text-end "><img src="assets/home/hi.png" class="img-fluid rounded-start " alt="Login Image" id="hi" ></div>
     
      <div class="col-md-5 text-center "><img src="assets/home/dog2.png" class="img-fluid rounded-start" alt="Login Image" id="dog"></div>
    
    </div>  
    <div class="row ">
      <!-- <div class="col-md-6 mb-5  d-flex justify-content-center">  <a class="bn39 align-items-start" routerLink="/error" id="doctor"><span class="bn39span" id="doctor">DOCTORS</span></a></div> -->

    <div class="col-md-6 text-center  "> <button class="button-33" role="button" id="match" routerLink="/signup">Sign Up</button></div>
    </div> </div>
</div>


<!-- <footer class="footer bg-black text-white">
  <div class="container-fluid   ">
    <div class="row justify-content-center ">
      <div class="col-md-6 text-center">
        <mat-icon class="social-icon">facebook</mat-icon>
        <mat-icon class="social-icon"></mat-icon>
        <mat-icon class="social-icon">pinterest</mat-icon>
      </div>
    </div>
    < <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <a href="#">Vetigo on Facebook</a> | <a href="#">Vetigo on Twitter</a> | <a href="#">Vetigo on Pinterest</a> | <a href="#">FAQ</a> | <a href="#">Frequently Asked Questions</a>
        </p>
        <p>
          <a href="#" >Events</a> | <a href="#">Contact Us</a> | <a href="#">Guidelines</a> | <a href="#">Careers</a> | <a href="#">Investors</a> | <a routerLink="/pdf" style="color: red;">Terms & Conditions</a> | <a href="#">Privacy Policy</a>
        </p>
        <p>© 2024 Vetigo | All Rights Reserved. Powered By real-web.</p>
      </div>
    </div> 
   
  </div>
</footer> -->


<router-outlet > </router-outlet>



